body, html, #root {
    background: #1a1a1a;
    color: #c6cdd4;
    height: 100%;
}

a {
    color: #5c85f3;
    text-decoration: none;
}

.mermaid {
    background: #1a1a1a;
}

:not(pre) .hljs {
    background: inherit;
}

pre > code.hljs {
    background: #272822;
}
